<h1>Restaurants List</h1>

<ul>
  <% @restaurants.each do |i|  %>
    <li><%= i.name %>
    <p><%= i.address %></p>
    <p><%= i.phone_number %></p>
    </li>
  <% end %>
</ul>

<%= link_to "Add Restaurant", restaurants_new_path %>
